.main {
  display: flex;
  flex-direction: column;
}
.order-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.orderOverview_avatar {
  clip-path: circle();
  width: 200px;
  margin: auto;
  margin-top: 4rem;
}
