.main {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.order-buttons {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderOverview_avatar {
  clip-path: circle();
  width: 200px;
  margin: auto;

}