.main {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.order-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  // border-radius: 10px;
}

.orderOverview_avatar {
  clip-path: circle();
  width: 200px;
  margin: auto;
}
