.app-container {
  color: white;
  height: 80vh;
  width: 60vw;
  border: 1px solid white;
  margin-top: 2rem;
  display: block;
  position: relative;
  padding: 1rem;

  &__header {
    color: white;
  }
  &__plan {
    height: 88%;
    float: left;
  }
}
